.container{
    /* border: 1px solid black; */
     margin-top:2px;
    padding-left: 12%;
}
.detail-box{
    display: flex;
   
}
.p-author{
    font-size: 18px;
    align-items: center;
    padding-left:10px;
   
}
.p-desc{
    font-size:18px;
    margin-top: 5px;
    margin-left:5px;
}
.btn-back{
    margin:5px;
    background-color: blueviolet;
   padding:5px;
   cursor: pointer;
}